.portifolio {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    margin: 0;
    list-style: none;
    gap: .7rem;
}

.portifolio li {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0 0 1rem 0;
    gap: .25rem;
}

.sobre-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1.2rem;
    font-weight: 900;
}


.portifolio li .sobre-title.github::before {
    content: '';
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('../imagens/icons/github.svg');
    margin-right: .5rem;
}

.period {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .5rem;
}

.period::before {
    content: '';
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('../imagens/icons/calendario.svg');
}